{
    "printWidth": 200,
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "TrailingCooma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "crlf",
    "semi": true
}